.Header {
  background-color: "rgb(46,34,48)";
  img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    object-fit: contain;
    max-width: 50%;
    height: auto;
    max-height: 50%;
  }
}
